<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        
    </style>
</head>

<body>
    <div class="mother">
        <div>
            <h1 align="center">
                Upload the image of your handwritten digit and let our Magic Box predict which digit it is
            </h1>
        </div>
    </div>

    <div class="mother">
        <div class="norms_div">
            <h2 align="center">
                Follow these steps to get the best results of prediction
            </h2>
            <div class="norms">
                <div>
                    <p align="center">Try to crop the extra portions out of the image and focusing only on the
                        hand-written digit</p>
                </div>
                <div>
                    <p align="center">Keep your camera parallel to the image. Don't keep the camera at any angle</p>
                </div>
                <div>
                    <p align="center">Incase of misprediction please give it one more try by recapturing the image</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="in_box">
        <div class="in_img">

            <form action="post" class="in_form">
                <h2 align="center">
                    The Magic Box
                </h2>
                <div class="file_div">
                    <label for="enter_image" class="in_but">
                        <p align="center">Choose your handwritten digit image </p>
                    </label>
                    <br>
                    <input type="file" name="enter_image" id="enter_image">
                </div>
                <br>
                <div class="submit_div">
                    <label for="submit" class="submit">Predict</label>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>

</body>

</html>